{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "ignore": [
    "**/*.test.js",
    "**/__test__/**"
  ]
}
